
@font-face {
    font-family: Calibre-R;
    src: url('../assets/fonts/calibre-r-web-regular.otf');
}

@font-face {
    font-family: Calibre-R;
    src: url('../assets/fonts/calibre-r-web-medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Calibre-R;
    src: url('../assets/fonts/calibre-r-web-semibold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Test Financier Text';
    src: url('../assets/fonts/TestFinancierDisplay-Regular.otf');
}
  
@font-face {
    font-family: 'Test Financier Text';
    src: url('../assets/fonts/TestFinancierDisplay-Medium.otf');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Test Financier Text';
    src: url('../assets/fonts/TestFinancierDisplay-Bold.otf');
    font-weight: 700;
}
  