@use '../../styles/variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  margin-top: variables.$navigation-height-desktop;
  min-height: calc(100vh - variables.$navigation-height-desktop);
}